---
layout: default
---

<div class="container">
  <h1>Programs</h1>
  <p>
    {% for program in site.data.programsList %}
      <a href="/program/{{ program.name | cgi_escape }}.html">
        {{ program.canonical.canonicalName.value | default: program.name }}
      </a>
      {% unless forloop.last %} - {% endunless %}
    {% endfor %}
  </p>
  <form action="#" class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <input class="form-control input-lg" type="text" id="searchInput" placeholder="Search" />
      </div>
    </div>
  </form>

  <h2>Sources</h2>
  <section class="row" id="sources">
    {% for source in site.data.statistics %}
      <div class="col-md-6 col-xs-12">
        <h3>{{ source[1]._source.name }}</h3>
        <ul>
          <li>Total programs: {{ source[1].total }}</li>
          <li><a href="{{ source[1]._source.url }}">Repository</a></li>
          <li><a href="{{ source[1]._source.url }}">Description</a></li>
        </ul>
        <table class="table">
          <tr>
            <th>Fields</th>
            <th>Count</th>
            <th>%</th>
          </tr>
          {% for field in source[1].fields %}
            <tr>
              <td>{{ field[0] }}</td>
              <td>{{ field[1] }}</td>
              <td>{{ (field[1]/source[1].total)*100 }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    {% endfor %}
  </section>
</div>

<script>
$(function() {
  $('#searchInput').selectize({
    valueField: 'url',
    searchField: 'name',
    labelField: 'name',
    load: function(query, callback) {
      var res = {{ site.data.programsList | jsonify }};
      for (var i = 0; i < res.length; i++) {
        res[i].url = '/program/' + encodeURIComponent(res[i].name) + '.html';
      }
      return callback(res);
    },
    maxItems: 1,
    addPrecedence: true,
    dropdownParent: 'body',
    onChange: function(value) {
      window.location.href = value
    }
  });

  $('#sources').masonry({
    itemSelector: '.col-md-6',
  });
});
</script>
