<section id="footer">
  <footer class="container">
    <div class="col-xs-12 col-md-6">
      Source:
      <a href="https://framagit.org/etalab/ogptoolbox">
        https://framagit.org/etalab/ogptoolbox
      </a>
    </div>
    <div class="col-xs-12 col-md-6">
      Documentation:
      <a href="/README.html">
        README
      </a>
    </div>
  </footer>
</section>
