$navbar-default-bg: #000000;
$navbar-default-link-active-bg: #33383c;
$navbar-default-link-hover-bg: #33383c;
$navbar-default-border: #33383c;
$navbar-default-color: #ffffff;
$navbar-default-link-color: #ffffff;
$navbar-default-link-hover-color: #ffffff;
$navbar-default-link-active-color: #ffffff;
$brand-primary: #1775AB;
$btn-success-bg: #1775AB;
$btn-primary-bg: #1775AB;
$btn-default-bg: #1775AB;
$btn-default-color: #FFFFFF;

@import "../node_modules/selectize/dist/css/selectize.css";
@import "../node_modules/selectize/dist/css/selectize.bootstrap3.css";
@import "../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "osem";

#json-inspector {
  padding: 10px;
  overflow: auto;
  background-color: #fff;
  margin-bottom: 10px;
  * {
    z-index: 1;
  }
}
