---
layout: default
---

<section class="content container">
  <div class="row">
    <section class="title col-xs-12">
      <h1>{{ page.program.canonical.canonicalName.value | default: page.program.name }}</h1>
    </section>
    <section class="description col-md-8 col-xs-12">
      <h2>Description</h2>
      <div>
        {% unless page.program.canonical.longDescription.en.nil? %}
          <p>
            {{ page.program.canonical.longDescription.en.value }}
          </p>
          <p>
            <small>
              Source: <a href="{{ page.program[page.program.canonical.longDescription.en.source]._source.url }}">
                {{ page.program[page.program.canonical.longDescription.en.source]._source.name }}
              </a>
            </small>
          </p>
        {% endunless %}
      </div>
    </section>
    <section style="overflow: overlay;" class="informations col-md-4 col-xs-12">
      <h2>Informations</h2>
      <ul>
        {% assign list = "license:License,sourceCode:Source code,bugTracker:Bug tracker,stackexchangeTag:Tag stackexchange" %}
        {% assign list = list | split: "," %}
        {% for property in list %}
          {% assign prop = property | split: ":" %}
          {% assign propertyName = prop[0] %}
          {% assign label = prop[1] %}
          {% if page.program.canonical[propertyName] %}
            {% assign canonicalProperty = page.program.canonical[propertyName] %}
            <li>
              {% if canonicalProperty.value contains 'http://' or canonicalProperty.value contains 'https://' %}
                <a href="{{ canonicalProperty.value }}">{{ label }}</a>
              {% else %}
                {{ label }}: {{ canonicalProperty.value }}
              {% endif %}
              <small>
                (Source:
                <a href="{{ page.program[canonicalProperty.source]['_source'].url }}">{{ page.program[canonicalProperty.source]['_source'].name }}</a>)
              </small>
            </li>
          {% endif %}
        {% endfor %}
      </ul>

      {% for category in page.program.canonical.categories %}
        {% if forloop.first %}
          <h4>Categories</h4>
          <ul>
        {% endif %}
        <li>{{ category.value }}</li>
        {% if forloop.last %}
          </ul>
        {% endif %}
      {% endfor %}

      <h4>Explore data</h4>
      <div id="json-inspector"></div>
    </section>
    <section class="discussion col-xs-12">
      <div id='discourse-comments'></div>
    </section>
  </div>
</section>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'https://forum.etalab.gouv.fr/',
                     discourseEmbedUrl: '{{ page.url | prepend: site.baseurl | prepend: site.url }}' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();

  var jsonInspectorData = {{ page.program | jsonify }}
</script>
<script type="text/javascript" src="/js/dist/json-inspector.js"></script>
